# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\repo2\storyAR\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
